# .env.example
# ── 테스트 계정 ───────────────────────────────────────────────────

TEST_USER_ID="qa5team3-04@elicer.com"
TEST_USER_PW="your_password"

# ── Jira 환경 설정 ────────────────────────────────────────────────

JIRA_URL="https://your-domain.atlassian.net"
JIRA_EMAIL="your_email@gmail.com"
JIRA_API_TOKEN="your_token"
JIRA_PROJECT_KEY="FHC"

# ── DISCORD WEBHOOK 설정 ─────────────────────────────────────────
DISCORD_WEBHOOK_URL=your_webhook_url